@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - cyu81</h1>
    <p class="lead">
        This assignment is for the purpose of WEB524. It is a continuing work  with the music business problem domain introduced in assignment #5. In this assignment, the
        web app will be enhanced to support security concepts as well as richer data such as rich text and media files (images,
        audio files, and videos).
    </p>
    <p><a href="http://cyu81-wa-web524-a6.azurewebsites.net/" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Accounts</h2>
        <ol>
            <li>
                A user with an Executive role claim can add, and edit media item of artist.
            </li>
            <li>
                A user with a Coordinator role claim can add an album, and edit media item of artist.
            </li>
            <li>
                A user with a Clerk role claim can add, edit, and delete a track.
            </li>
            <li>
                All other kinds of authenticated users can read artist, album, and track data.
            </li>
            <li>
                Anonymous users cannot work with artist, album, and track data.
            </li>

            
        </ol>
    </div>
    
</div>